---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body { 	
	line-height: 2;
	margin: 1em 0 15px;
	padding: 0;
	font-family: 'Open Sans', sans-serif; 
	font: 16px;
  	color: $darkGray;
}

.home {
	text-align: justify;
			a:hover{
	  		text-decoration: underline;
  			}
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

.content {
  padding-bottom:25px;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
	text-align: justify;
  	margin: 15px 0;
		a:hover{
	  		text-decoration: underline;
  			}
}

a {
  color: $black;
  font-weight:bold;
  text-decoration: none;
	cursor: pointer;
  &:hover {
	  color: $black;
	  font-weight:bold;
  }
}


em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 14px;
  color: $gray;
  vertical-align: bottom;
}

.post-date {
  font-size: 14px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  text-align: center;
  margin-top: 18px; // @TODO: Vertically middle align
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $darkGray;
    }
  }
}

footer {
  text-align: center;
  margin-top: 18px; // @TODO: Vertically middle align
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $darkGray;
    }
  }
}

a.read-more {
  background: black;
  border-radius: 1px;
  color:white;
  font-size:12px;
  padding:10px;
  font-weight:300;
    &:hover {
	  background: gray;
	  }
}


input[type=submit] {
  background: black;
  border-radius: 1px;
  color:white;
  font-size:12px;
  padding:10px;
  font-weight:300;
    &:hover {
	  background: gray;
	  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.h3year {
	text-align: center;
}

ul {
	list-style-type: none;
        margin:0;
        padding-left:0;
}

.date {
	float: right;
	@include mobile{
	}
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  border-top: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

/* To center images */
.center {
	display: block;
	margin: 0 auto;
}
/* video responsiveness */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0; 
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
